<h1 align="center"><%= t '.title' %></h1>

<div id="content">
  <div id="form" align="center">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
  </div>
</div>