<div class="jumbotron">
  <h1><%= t 'welcome.recent_rooms' %></h1>
  <ul>
    <% @rooms.each do |room| %>
      <li>
        <p><%= link_to room.complete_name , room, class: "btn btn-default"%></p>
      </li>
    <% end %>
  </ul>
</div>