<%= form_for(@room) do |f| %>
    <% if @room.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <%= t 'general.form_error' %>
      </div>
    <% end %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
      <%= error_tag @room, :title %>
    </p>

    <p>
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
      <%= error_tag @room, :location %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
      <%= error_tag @room, :description %>
    </p>

    <%= f.submit class: "btn btn-default" %>
<% end %>
