<div id="content">
  <p>
    <strong><%= t 'rooms.title' %></strong>
    <%= @room.title %>
  </p>

  <p>
    <strong><%= t 'rooms.location' %></strong>
    <%= @room.location %>
  </p>

  <p>
    <strong><%= t 'rooms.description' %></strong>
    <%= @room.description %>
  </p>
</div>

<div align="center">
  <div class="btn-group" role="group">
    <%= link_to 'Editar', edit_room_path(@room), class: 'btn btn-primary' %>
    <%= link_to 'Voltar', rooms_path, class: 'btn btn-primary' %>
  </div>
</div>